@model TRIPEXPENSEREPORT.Models.EmployeeModel
@{
    ViewData["Title"] = "TE : เบิกเงิน";
}

<style>
    #table_allowance tbody tr:hover {
        cursor: pointer;
        background-color: #f0f8ff !important;
    }

    #table_allowance tbody tr.table-selected {
        background-color: #d0e8ff !important;
        font-weight: bold;
    }

    .hidden {
        display: none;
    }

    tr.holiday-row {
        background-color: #e9ecef !important; /* เทาอ่อน */
        /* หรือ #dee2e6, #ced4da ตามชอบ */
    }
  
</style>

<div class="container-fluid">
    <div class="row">
        <!-- Sidebar (ซ้าย) : Filter -->
        <div class="col-md-2 bg-light p-3 kanit-medium">
            <div class="card border-0 shadow-sm h-0 p-2 rounded-10">
                <h5 class="mb-3" style="letter-spacing:2px; padding:8px; color:white; border-radius:3px; background: #2178BE;
                    background: linear-gradient(90deg, rgba(33, 120, 190, 1) 0%, rgba(40, 71, 95, 1) 100%);">
                    ตัวกรอง
                </h5>

                <div class="mb-2">
                    <label for="month_start" style="color:#555555">เดือน:</label>
                    <input type="month" class="form-control" id="month_start" placeholder="วันที่ (dd/mm/yyyy)" />
                </div>
                <label for="select_employee" style="color:#555555">ชื่อพนักงาน:</label>
                <select name="employees" id="select_employee" class="mb-3 form-control" style="border-radius:5px">
                </select>
                <div id="div_search">
                    <div class="form-group">
                        <button id="btn_search" class="btn btn-primary w-100 " style="border-radius:8px; box-shadow: 0 4px 8px rgba(0,0,0,0.1);">
                            ค้นหา
                        </button>
                    </div>
                    <div class="form-group">
                        <button id="btn_export" class="btn btn-success w-100"
                                style="border-radius:8px; box-shadow: 0 4px 8px rgba(0,0,0,0.1);">
                            <i class="fas fa-download"></i>Export
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Main Content (ขวา) : Table  -->
        <div class="col-md-10 p-3 kanit-regular">
            <h4 style="letter-spacing:2px; padding:10px; padding-left:15px; color:white; border-top-right-radius:20px; border-top-left-radius:20px; background: #2178BE;
                    background: linear-gradient(90deg, rgba(33, 120, 190, 1) 0%, rgba(40, 71, 95, 1) 100%);">
                เบี้ยเลี้ยง
            </h4>
            <div class="table-responsive-lg" style="height: 700px; overflow-y: auto; border: 1px solid #dee2e6;">
                <table id="table_allowance" class="table table-bordered ">
                    <thead class="bg-primary text-white align-content-center text-center">
                        <tr>
                            <th>วันที่</th>
                            <th>เวลาเริ่มต้น</th>
                            <th>เวลาสิ้นสุด</th>
                            <th>ชื่อลูกค้า</th>
                            <th>จังหวัด</th>
                            <th>Job No.</th>
                            <th>ต่างจังหวัด</th>
                            <th>1-4 ชม.</th>
                            <th>4-8 ชม.</th>
                            <th>8 ชม.+</th>
                            <th>อื่นๆ</th>
                            <th>ค่าที่พัก</th>
                            <th>รายการ</th>
                            <th>จำนวนเงิน</th>
                            <th>รายละเอียด</th>
                            <th>รวม</th>
                            <th>หมายเหตุ</th>
                            <th>สถานะ</th>
                        </tr>
                    </thead>
                    <tbody>                       
                    </tbody>
                    <tfoot class="table-warning text-black fw-bold">
                        <tr>
                            <th colspan="6" class="text-center">ยอดรวมทั้งหมด</th>
                            <th id="totalProvince" class="text-end">0.00</th>
                            <th id="totalA14" class="text-end">0.00</th>
                            <th id="totalA48" class="text-end">0.00</th>
                            <th id="totalA8" class="text-end">0.00</th>
                            <th id="totalAOther" class="text-end">0.00</th>
                            <th id="totalAHostel" class="text-end">0.00</th>
                            <th colspan="1"></th>
                            <th id="totalAAmount" class="text-end">0</th>
                            <th colspan="1"></th>
                            <th id="totalASum" class="text-end">0.00</th>
                            <th colspan="2"></th>
                        </tr>
                    </tfoot>
                </table>
              
                <!-- Modal: Send & Export -->
                <div class="modal fade " id="sendModal" tabindex="-1" role="dialog" aria-labelledby="sendModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">

                            <!-- Modal Header -->
                            <div class="modal-header"
                                 style="background: #34ba7c;
                                background: linear-gradient(90deg, rgba(52, 186, 124, 1) 0%, rgba(0, 138, 112, 1) 100%); color: white; border-bottom: none;">
                                <h5 class="modal-title" id="cancelModalLabel">Confirm Send & Export</h5>
                                <!-- Close Button -->
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true" style="color:white">&times;</span>
                                </button>
                            </div>
                            <!-- Modal Body -->
                            <div class="modal-body">
                                <text style="color:#555555">คุณต้องการส่งข้อมูล วันที่ 01/10/2025 - 15/10/2025 ใช่หรือไม่?</text>
                                <label style="color: red; text-align: left; display: block;">
                                    * หลังจากผู้ดูแลอนุมัติแล้ว จะไม่สามารถยกเลิกหรือแก้ไขข้อมูลที่ส่งได้
                                </label>

                            </div>
                            <!-- Footer Button -->
                            <div class="modal-footer">

                                <button type="button" class="btn btn-secondary" style="border-radius:8px; box-shadow: 0 4px 8px rgba(0,0,0,0.1);" data-dismiss="modal">
                                    ปิด
                                </button>
                                <button type="button" id="BtnSendExport" class="btn btn-success" style="border-radius:8px; box-shadow: 0 4px 8px rgba(0,0,0,0.1);">
                                    ยืนยันการส่ง
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal: Cancel Send -->
                <div class="modal fade" id="cancelModal" tabindex="-1" role="dialog" aria-labelledby="cancelModalLabel" aria-hidden="true">
                    <div class="modal-dialog " role="document">
                        <div class="modal-content">
                            <!-- Modal Header -->
                            <div class="modal-header"
                                 style="background: #ff2929;
                                 background: linear-gradient(90deg, rgba(255, 41, 41, 1) 0%, rgba(161, 0, 0, 1) 100%); color: white; border-bottom: none;">
                                <h5 class="modal-title" id="cancelModalLabel">Cancel Send</h5>
                                <!-- Close Button -->
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true" style="color:white">&times;</span>
                                </button>
                            </div>
                            <!-- Modal Body -->
                            <div class="modal-body">
                                <text style="color:red; font-size:18px">คุณแน่ใจหรือไม่ว่าต้องการยกเลิกการส่งข้อมูล <br>วันที่ 01/10/2025 - 15/10/2025 </text>
                            </div>
                            <!-- Footer Button -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" style="border-radius:8px; box-shadow: 0 4px 8px rgba(0,0,0,0.1);" data-dismiss="modal">
                                    ปิด
                                </button>
                                <button type="button" id="BtnCancelSend" class="btn btn-danger" style="border-radius:8px; box-shadow: 0 4px 8px rgba(0,0,0,0.1);">
                                    ยืนยันการยกเลิก
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Table -->
<div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="detailModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <!-- เพิ่ม modal-lg สำหรับขนาดใหญ่ -->
        <div class="modal-content">
            <div class="modal-header" style="background: linear-gradient(90deg, rgba(33, 120, 190, 1) 0%, rgba(40, 71, 95, 1) 100%); color: white; border-bottom: none;">
                <h5 class="modal-title kanit-regular" id="detailModalLabel">แก้ไขข้อมูล (เบี้ยเลี้ยง)</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" style="color: white;">&times;</span>
                </button>
            </div>
            <div class="modal-body kanit-regular" style="color:#444444">
                <form>
                    <fieldset hidden class="col-sm-12 col-md-12">
                        <div class="form-group">
                            <label for="edit_code"></label>
                            <input type="text" class="form-control" id="edit_code">
                        </div>
                    </fieldset>
                    <!-- ROW 1 : วันที่, Job -->
                    <div class="form-row ">
                        <fieldset disabled class="col-sm-12 col-md-6">
                            <div class="form-group">
                                <label for="edit_date">วันที่</label>
                                <input type="text" class="form-control" id="edit_date">
                            </div>
                        </fieldset>
                        <div class="form-group col-sm-12 col-md-2" hidden>
                            <label for="edit_emp_id">EMP</label>
                            <input type="text" class="form-control" id="edit_emp_id">
                        </div>
                        <div class="form-group col-sm-12 col-md-4">
                            <label for="edit_job">Job</label>
                            <input type="text" class="form-control" id="edit_job">
                        </div>

                    </div>
                    <div class="form-row">
                        <div class="form-group col-sm-12 col-md-6">
                            <label for="edit_time_start">เวลาเริ่มต้น</label>
                            <input type="time" class="form-control" id="edit_time_start">
                        </div>
                        <div class="form-group col-sm-12 col-md-6">
                            <label for="edit_time_stop">เวลาสิ้นสุด</label>
                            <input type="time" class="form-control" id="edit_time_stop">
                        </div>
                    </div>
                    <!-- ROW 2 : ลูกค้า, จังหวัด -->
                    <div class="form-row">
                        <div class="form-group col-sm-12 col-md-8">
                            <label for="edit_customer">ลูกค้า</label>
                            <input type="text" class="form-control" id="edit_customer">
                        </div>
                        <div class="form-group col-sm-12 col-md-4">
                            <label for="edit_select_province">จังหวัด</label>
                            <select class="form-control" id="edit_select_province"></select>
                        </div>
                    </div>

                    <!-- ROW 3 : เบี้ยเลี้ยง -->
                    <div class="form-row ">
                        <div class="form-group col-sm-12 col-md-4">
                            <label for="edit_allowance_province">ต่างจังหวัด</label>
                            <div class="input-group">
                                <input type="number" class="form-control" style="text-align:end" id="edit_allowance_province" placeholder="0" min="0" max="100"step="100"
                                       oninput="this.value = (this.value == '100' || this.value == '0' || this.value == '') ? this.value : (this.value < 100 ? '0' : '100');">
                                <div class="input-group-append">
                                    <span class="input-group-text">บาท</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-sm-12 col-md-4">
                            <label for="edit_allowance_14">1-4 ซม.</label>
                            <div class="input-group">
                                <input type="number" class="form-control" style="text-align:end" id="edit_allowance_14" placeholder="0" min="0" max="50" step="50"
                                       oninput="this.value = (this.value == '50' || this.value == '0' || this.value == '') ? this.value : (this.value < 50 ? '0' : '50');">
                                <div class="input-group-append">
                                    <span class="input-group-text">บาท</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-sm-12 col-md-4">
                            <label for="edit_allowance_48">4-8 ซม.</label>
                            <div class="input-group">
                                <input type="number" class="form-control" style="text-align:end" id="edit_allowance_48" placeholder="0" min="0" max="70" step="70"
                                       oninput="this.value = (this.value == '70' || this.value == '0' || this.value == '') ? this.value : (this.value < 70 ? '0' : '70');">
                                <div class="input-group-append">
                                    <span class="input-group-text">บาท</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row ">
                        <div class="form-group col-sm-12 col-md-4">
                            <label for="edit_allowance_8">8 ซม.+</label>
                            <div class="input-group">
                                <input type="number" class="form-control" style="text-align:end" id="edit_allowance_8" placeholder="0" min="0" max="80" step="80"
                                       oninput="this.value = (this.value == '80' || this.value == '0' || this.value == '') ? this.value : (this.value < 80 ? '0' : '80');">
                                <div class="input-group-append">
                                    <span class="input-group-text">บาท</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-sm-12 col-md-4">
                            <label for="edit_allowance_other">อื่นๆ</label>
                            <div class="input-group">
                                <input type="number" class="form-control" style="text-align:end" id="edit_allowance_other" placeholder="0">
                                <div class="input-group-append">
                                    <span class="input-group-text">บาท</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-sm-12 col-md-4">
                            <label for="edit_allowance_hostel">ค่าที่พัก</label>
                            <div class="input-group">
                                <input type="number" class="form-control" style="text-align:end" id="edit_allowance_hostel" placeholder="0">
                                <div class="input-group-append">
                                    <span class="input-group-text">บาท</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- ROW 4 : ค่าที่พัก, ค่าใช้จ่ายอื่นๆ, รายการ -->
                    <div class="form-row ">                       
                        <div class="form-group col-sm-12 col-md-8">
                            <label for="edit_list">ค่าใช้จ่ายอื่นๆ</label>
                            <input type="text" class="form-control" id="edit_list">
                        </div>
                        <div class="form-group col-sm-12 col-md-4">
                            <label for="edit_allowance_amount">จำนวนเงิน</label>
                            <div class="input-group">
                                <input type="number" class="form-control" style="text-align:end" id="edit_allowance_amount" placeholder="0">
                                <div class="input-group-append">
                                    <span class="input-group-text">บาท</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-sm-12 col-md-12">
                            <label for="edit_description">รายละเอียด</label>
                            <input type="text" class="form-control" id="edit_description">
                        </div>
                    </div>
                    <!-- ROW 5 : หมายเหตุ, รวม -->
                    <div class="form-row">
                        <div class="form-group col-sm-12 col-md-8">
                            <label for="edit_remark">หมายเหตุ</label>
                            <input type="text" class="form-control" id="edit_remark">
                        </div>
                        <fieldset disabled class="col-sm-12 col-md-4">
                            <div class="form-group">
                                <label for="edit_allowance_sum">รวม</label>
                                <div class="input-group">
                                    <input type="number" class="form-control" style="text-align:end" id="edit_allowance_sum" placeholder="0">
                                    <div class="input-group-append">
                                        <span class="input-group-text">บาท</span>
                                    </div>
                                </div>
                            </div>

                        </fieldset>
                    </div>
                </form>
            </div>
            <!-- Footer Button -->
            <div class="modal-footer kanit-regular">
                <button type="button" id="BtnDelete" class="btn btn-danger col-sm-3 col-md-3" style="border-radius:8px; box-shadow: 0 4px 8px rgba(0,0,0,0.1);">
                    ลบ
                </button>
                <button type="button" class="btn btn-outline-danger col-sm-3 col-md-2" style="border-radius:8px; box-shadow: 0 4px 8px rgba(0,0,0,0.1);" data-dismiss="modal">
                    ยกเลิก
                </button>
                <button type="button" id="BtnSaveChange" class="btn btn-primary col-sm-3 col-md-3" style="border-radius:8px; box-shadow: 0 4px 8px rgba(0,0,0,0.1);">
                    บันทึก
                </button>
            </div>
        </div>
    </div>
</div>
<partial name="ModalSpin" />
@section Scripts {
    <script>
        let employees = [];
        let holidays = [];
        let provinces = [];
        var table_allowance;
        $(document).ready(async function () {
            const today = new Date();
            const month = today.toISOString().slice(0, 7);
            $('#month_start').val(month);
            employees = await GetEmployees();
            GenerateEmployeeOption(employees);
        });

        async function GetEmployees() {
            let data = [];
            await $.ajax({
                type: "GET",
                url: '@Url.Action("GetEmployees", "AllowanceUser")',
                contentType: 'application/x-www-form-urlencoded',
                data: { },
                success: function (response) {
                    data = response;
                }
            });
            return data;

        }

        $('#btn_search').on('click', async function () {

            const month = $('#month_start').val();
            const emp_id = $('#select_employee').val();

            LoadAllowanceTable(emp_id,month);
        });

        async function GetAllowance(emp_id, month) {
            const $modal = $('#SpinModal');
            $modal.modal('show');

            try {
                const response = await $.ajax({
                    type: "GET",
                    url: '@Url.Action("GetDataAllowance", "AllowanceUser")',
                    dataType: "json",
                    data: { emp_id, month },
                });

                return response;

            } catch (err) {
                return null;

            } finally {
                $modal.modal('hide');
            }
        }

        function ddMMyyyyToISO(dateStr) {
            if (!dateStr || typeof dateStr !== 'string' || !dateStr.includes('/')) {
                return dateStr || '';
            }

            const parts = dateStr.trim().split('/');
            if (parts.length !== 3) return dateStr;

            const [dd, mm, yyyy] = parts.map(p => p.trim());

            // เผื่อเลขเดือน/วันไม่มี 0 นำหน้า
            const paddedDD = dd.padStart(2, '0');
            const paddedMM = mm.padStart(2, '0');

            return `${yyyy}-${paddedMM}-${paddedDD}`;
        }

        async function LoadAllowanceTable(emp_id, month) {

            const data = await GetAllowance(emp_id, month);

            holidays = data.holidays;
            provinces = data.provinces;
            GenerateProvinceOption(provinces);

            const holidayDates = new Set(holidays.map(h => h.date.split('T')[0]));
            table_allowance = $('#table_allowance').DataTable({
                destroy: true,
                data: data.data,
                order: [[0, 'asc']],
                paging: false,
                info: false,
                searching: false,
                ordering: false,
                createdRow: function (row, data, dataIndex) {
                    const dateDisplay = data.dateDisplay || data.date;

                    let year, month, day;
                    if (dateDisplay.includes('-')) {
                        [year, month, day] = dateDisplay.split('-').map(Number);
                    } else if (dateDisplay.includes('/')) {
                        [day, month, year] = dateDisplay.split('/').map(Number);
                    } else {
                        console.error('Invalid date format:', dateDisplay);
                        return;
                    }
                    const date = new Date(Date.UTC(year, month - 1, day));
                    const dayOfWeek = date.getUTCDay();
                    const dateKey = date.toISOString().split('T')[0];

                    const isWeekend = (dayOfWeek === 0 || dayOfWeek === 6);
                    const isHoliday = holidayDates.has(dateKey);

                    if (isWeekend || isHoliday) {
                        $(row).addClass('table-secondary bg-opacity-50');
                    }
                },
                drawCallback: function () {
                    //mergeDateRows();
                },
                footerCallback: function (row, data, start, end, display) {
                    const api = this.api();

                    const sum = (columnIndex) => {
                        return api.column(columnIndex, { page: 'all' }).data().reduce((a, b) => {
                            return a + (parseFloat(b) || 0);
                        }, 0);
                    };

                    const totalProvince = sum(6);
                    const totalA14 = sum(7);
                    const totalA48 = sum(8);
                    const totalA8 = sum(9);
                    const totalAOther = sum(10);
                    const totalAHostel = sum(11);
                    const totalAAmount = sum(13);
                    const totalASum = sum(15);

                    $('#totalProvince').html(totalProvince.toLocaleString('th-TH', { minimumFractionDigits: 0 }));
                    $('#totalA14').html(totalA14.toLocaleString('th-TH', { minimumFractionDigits: 0 }));
                    $('#totalA48').html(totalA48.toLocaleString('th-TH', { minimumFractionDigits: 0 }));
                    $('#totalA8').html(totalA8.toLocaleString('th-TH', { minimumFractionDigits: 0 }));
                    $('#totalAOther').html(totalAOther.toLocaleString('th-TH')).css({
                        'vertical-align': 'middle',
                        'font-size': '20px',
                        'text-align': 'center'
                    });
                    $('#totalAHostel').html(totalAHostel.toLocaleString('th-TH')).css({
                        'vertical-align': 'middle',
                        'font-size': '20px',
                        'text-align': 'center'
                    });
                    $('#totalAAmount').html(totalAAmount.toLocaleString('th-TH')).css({
                        'vertical-align': 'middle',
                        'font-size': '20px',
                        'text-align': 'center'
                    });
                    $('#totalASum').html(totalASum.toLocaleString('th-TH')).css({
                        'vertical-align': 'middle',
                        'font-size': '20px',
                        'text-align': 'center'
                    });
                },
                columns: [
                    { data: 'dateDisplay', className: 'text-center fw-bold' },
                    {
                        data: 'timeStart', className: 'text-center',
                        render: function (data) {
                            return data === "00:00" ? '' : data;
                        }
                    },
                    {
                        data: 'timeStop', className: 'text-center',
                        render: function (data) {
                            return data === "00:00" ? '' : data;
                        }
                    },
                    { data: 'customer' },
                    { data: 'province', className: 'text-center' },
                    { data: 'job', className: 'text-center' },
                    {
                        data: 'allowance_province',
                        className: 'text-center',
                        render: function (data) {
                            return data || '';
                        }
                    },
                    {
                        data: 'allowance_1_4',
                        className: 'text-center',
                        render: function (data) {
                            return data || '';
                        }
                    },
                    {
                        data: 'allowance_4_8',
                        className: 'text-center',
                        render: function (data) {
                            return data || '';
                        }
                    },
                    {
                        data: 'allowance_8',
                        className: 'text-center',
                        render: function (data) {
                            return data || '';
                        }
                    },
                    {
                        data: 'allowance_other',
                        className: 'text-center',
                        render: function (data) {
                            return data || '';
                        }
                    },
                    {
                        data: 'allowance_hostel',
                        className: 'text-center',
                        render: function (data) {
                            return data || '';
                        }
                    },
                    {
                        data: 'list',
                        className: 'text-center fw-bold',
                        render: function (data) {
                            return data || '';
                        }
                    },
                    {
                        data: 'amount',
                        className: 'text-center fw-bold',
                        render: function (data) {
                            return data || '';
                        }
                    },
                    { data: 'description'},
                    {
                        data: 'sum',
                        className: 'text-center fw-bold',
                        render: function (data) {
                            return data || '';
                        }
                    },
                    { data: 'remark', className: 'text-center' },
                    {
                        data: 'status',
                        className: 'text-center',
                        render: function (data) {
                            const badges = {
                                'Approved': 'bg-success',
                                'Pending': 'bg-info'
                            };
                            const cls = badges[data] || 'bg-secondary';
                            return `<span class="badge ${cls}">${data || ''}</span>`;
                        }
                    }
                ]

            });

            $('#table_allowance tbody').on('click', 'tr', async function () {

                const rowData = table_allowance.row(this).data();
                if (rowData.status !== "Approved") {
                    if (!rowData) {
                        const $row = $(this);
                        const prevRowData = table_personal.row($row.prev()).data();
                        if (prevRowData) rowData = prevRowData;
                    }
                    if (rowData) {
                        $(this).toggleClass('table-selected');
                        //employees = await GetEmployees();
                        //let name = employees.filter(f => f.emp_id === rowData.driver).map(m => m.name_en)[0];

                        let code = rowData.code;
                        let emp_id = rowData.emp_id;
                        const date = rowData.dateDisplay;
                        let zipcode = rowData.zipcode;
                        const job = rowData.job;
                        const time_start = rowData.timeStart;
                        const time_stop = rowData.timeStop;
                        const customer = rowData.customer;
                        const allowance_province = rowData.allowance_province;
                        const allowance_1_4 = rowData.allowance_1_4;
                        const allowance_4_8 = rowData.allowance_4_8;
                        const allowance_8 = rowData.allowance_8;
                        const allowance_other = rowData.allowance_other;
                        const allowance_hostel = rowData.allowance_hostel;
                        const list = rowData.list;
                        const amount = rowData.amount;
                        const description = rowData.description;
                        const remark = rowData.remark;
                        const sum = rowData.sum;

                        $('#edit_code').val(code);
                        $('#edit_emp_id').val(emp_id);
                        $('#edit_date').val(date);
                        $('#edit_time_start').val(time_start);
                        $('#edit_time_stop').val(time_stop);
                        $('#edit_job').val(job);
                        $('#edit_customer').val(customer);
                        $('#edit_select_province').val(zipcode);
                        $('#edit_allowance_province').val(allowance_province);
                        $('#edit_allowance_14').val(allowance_1_4);
                        $('#edit_allowance_48').val(allowance_4_8);
                        $('#edit_allowance_8').val(allowance_8);
                        $('#edit_allowance_other').val(allowance_other);
                        $('#edit_allowance_hostel').val(allowance_hostel);
                        $('#edit_list').val(list);
                        $('#edit_allowance_amount').val(amount);
                        $('#edit_description').val(description);
                        $('#edit_remark').val(remark);
                        $('#edit_allowance_sum').val(sum);
                        $('#detailModal').modal();
                    }
                } else {
                    alert('ข้อมูลถูกตรวจสอบแล้ว ไม่สามารถแก้ไขได้');
                }
            });
        }

        $('#edit_allowance_province,#edit_allowance_14,#edit_allowance_48,#edit_allowance_8,#edit_allowance_other,#edit_allowance_hostel,#edit_allowance_amount').on('change',function(){
            const allowance_province = $('#edit_allowance_province').val();
            const allowance_14 = $('#edit_allowance_14').val();
            const allowance_48 = $('#edit_allowance_48').val();
            const allowance_8 = $('#edit_allowance_8').val();
            const allowance_other = $('#edit_allowance_other').val();
            const allowance_hostel = $('#edit_allowance_hostel').val();
            const allowance_amount = $('#edit_allowance_amount').val();

            const sum = Number(allowance_province) + Number(allowance_14) + Number(allowance_48) +
            Number(allowance_8) + Number(allowance_other) + Number(allowance_hostel) + Number(allowance_amount);

            $('#edit_allowance_sum').val(sum);

        });


        $('#BtnSaveChange').on('click', async function () {
            const zipcode = $('#edit_select_province').val();
            if (zipcode !== null) {
                const code = $('#edit_code').val();
                const date = ddMMyyyyToISO($('#edit_date').val());
                const emp_id = $('#edit_emp_id').val();
                const job = $('#edit_job').val();
                const time_start = $('#edit_time_start').val();
                const time_stop = $('#edit_time_stop').val();
                const customer = $('#edit_customer').val();
                const allowance_province = $('#edit_allowance_province').val();
                const allowance_1_4 = $('#edit_allowance_14').val();
                const allowance_4_8 = $('#edit_allowance_48').val();
                const allowance_8 = $('#edit_allowance_8').val();
                const allowance_other = $('#edit_allowance_other').val();
                const allowance_hostel = $('#edit_allowance_hostel').val();
                const list = $('#edit_list').val();
                const amount = $('#edit_allowance_amount').val();
                const description = $('#edit_description').val();
                const remark = $('#edit_remark').val();
           
                const str = JSON.stringify({
                    'code': code,
                    'emp_id':emp_id,
                    'zipcode': zipcode,
                    'date': date,
                    'time_start': time_start,
                    'time_stop': time_stop,
                    'customer': customer,
                    'job': job,
                    'allowance_province':allowance_province,
                    'allowance_1_4': allowance_1_4,
                    'allowance_4_8': allowance_4_8,
                    'allowance_8': allowance_8,
                    'allowance_other': allowance_other,
                    'allowance_hostel': allowance_hostel,
                    'list':list,
                    'amount': amount,
                    'description': description,
                    'remark': remark                 
                });

                await $.ajax({
                    type: "POST",
                    url: '@Url.Action("UpdateData", "AllowanceUser")',
                    contentType: 'application/x-www-form-urlencoded',
                    data: { str },
                    success: function (response) {
                        if (response === "Success") {
                            const emp_id = $('#select_employee').val();
                            const month = $('#month_start').val();
                            LoadAllowanceTable(emp_id, month);

                        } else {
                            alert(response);
                        }
                    }
                });
                $('#detailModal').modal('hide');
            } else {
                alert('ไม่มีจังหวัด');
            }
        });

        $('#BtnDelete').on('click', async function () {
            const code = $('#edit_code').val();
            await $.ajax({
                type: "DELETE",
                url: '@Url.Action("DeleteData", "AllowanceUser")',
                contentType: 'application/x-www-form-urlencoded',
                data: { code },
                success: function (response) {
                    if (response === "Success") {
                        const emp_id = $('#select_employee').val();
                        const month = $('#month_start').val();
                        LoadAllowanceTable(emp_id, month);

                    } else {
                        alert(response);
                    }
                }
            });
            $('#detailModal').modal('hide');
        });

        function GenerateEmployeeOption(employees) {
            $('#select_employee').empty();
            $('#select_employee').append(`<option value="" selected disabled>Please Select Employee</option>`);
            for (let i = 0; i < employees.length; i++) {
                $('#select_employee').append(`<option value="${employees[i].emp_id}">${employees[i].name_en}</option>`);
            }
        }
        async function GenerateProvinceOption(provinces) {
            $('#edit_select_province').empty();
            $('#edit_select_province').append(`<option value="" selected disabled>Please Select Province</option>`);
            for (let i = 0; i < provinces.length; i++) {
                $('#edit_select_province').append(`<option value="${provinces[i].zipcode}">${provinces[i].province}-${provinces[i].zipcode}</option>`);
            }
        }

        $('#btn_export').on('click', function () {
            const emp_id = $('#select_employee').val();
            const month = $('#month_start').val();
            location.href = '@Url.Action("Export", "AllowanceUser")?emp_id=' + emp_id + '&month=' + month;
        });
    </script>
}