@model TRIPEXPENSEREPORT.Models.EmployeeModel
@{
    ViewData["Title"] = "TE : รถบริษัท";
}

<style>
    #table_company tbody tr:hover {
        cursor: pointer;
        background-color: #f0f8ff !important;
    }

    #table_company tbody tr.table-selected {
        background-color: #d0e8ff !important;
        font-weight: bold;
    }

    .hidden {
        display: none;
    }

    tr.holiday-row {
        background-color: #e9ecef !important;
    }

</style>


<div class="container-fluid">
    <div class="row">
        <!-- Sidebar (ซ้าย) : Filter -->
        <div class="col-md-2 bg-light p-3 kanit-medium">
            <div class="card border-0 shadow-sm h-0 p-2 rounded-10">
                <h5 class="mb-3" style="letter-spacing:2px; padding:8px; color:white; border-radius:3px; background: #2178BE;
                    background: linear-gradient(90deg, rgba(33, 120, 190, 1) 0%, rgba(40, 71, 95, 1) 100%);">
                    ตัวกรอง
                </h5>

                <div class="mb-2">
                    <label for="month_start" style="color:#555555">เดือน:</label>
                    <input type="month" class="form-control" id="month_start" />
                </div>

                <div class="form-group">
                    <label for="select_mode" style="color:#555555">เลือกดู:</label>
                    <select name="modes" id="select_mode" class="mb-3 form-control" style="border-radius:5px">
                        <option value="NULL">Please Select...</option>
                        <option value="Car">รถ</option>
                        <option value="Driver">คนขับ</option>
                    </select>
                    <div id="div_car" hidden>
                        <label for="select_cars" style="color:#555555" id="car-label">รถ:</label>
                        <select name="cars" id="select_cars" class="mb-3 form-control" style="border-radius:5px">
                        </select>
                    </div>
                    <div id="div_driver" hidden>
                        <label for="select_drivers" style="color:#555555" id="employee-label">ชื่อผู้ขับ:</label>
                        <select name="employees" id="select_drivers" class="mb-3 form-control" style="border-radius:5px">
                        </select>
                    </div>
                    <div id="div_search" hidden>
                        <div class="form-group">
                            <button id="btn_search" class="btn btn-primary w-100 " style="border-radius:8px; box-shadow: 0 4px 8px rgba(0,0,0,0.1);">
                                ค้นหา
                            </button>
                        </div>
                        <div class="form-group">
                            <button id="btn_export" class="btn btn-success w-100"
                                    style="border-radius:8px; box-shadow: 0 4px 8px rgba(0,0,0,0.1);">
                                <i class="fas fa-download"></i>Export
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Main Content (ขวา) : Table  -->
        <div class="col-md-10 p-3 kanit-regular">
            <h4 style="letter-spacing:2px; padding:10px; padding-left:15px; color:white; border-top-right-radius:20px; border-top-left-radius:20px; background: #2178BE;
        background: linear-gradient(90deg, rgba(33, 120, 190, 1) 0%, rgba(40, 71, 95, 1) 100%);
        display: flex; justify-content: space-between; align-items: center;">
                รถบริษัท
            </h4>

            <!-- Table -->
            <div class="table-responsive-lg" style="height: 700px; overflow-y: auto; border: 1px solid #dee2e6;">
                <table id="table_company" class="table table-bordered ">
                    <thead class="bg-primary text-white align-content-center text-center">
                        <tr>
                            <th>วันที่</th>
                            <th>Job</th>
                            <th>จังหวัด</th>
                            <th>รถ</th>
                            <th>ผู้ขับ</th>
                            <th>ตั้งแต่เวลา</th>
                            <th>ถึงเวลา</th>
                            <th>การเดินทาง</th>
                            <th>ค่าน้ำมัน (Fleet Card)</th>
                            <th>ค่าน้ำมัน (เงินสด)</th>
                            <th>ค่าทางด่วน</th>
                            <th>ค่าใช้จ่ายอื่นๆ</th>
                            <th>เลขไมล์เริ่มต้น</th>
                            <th>เลขไมล์สิ้นสุด</th>
                            <th>ระยะทาง</th>
                            <th>รวมระยะทาง</th>
                            <th>รายละเอียด</th>
                            <th>สถานะ</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                    <tfoot class="table-warning text-black fw-bold">
                        <tr>
                            <th colspan="8" class="text-center">ยอดรวมทั้งหมด</th>
                            <th id="totalFleet" class="text-center">0.00</th>
                            <th id="totalCash" class="text-center">0.00</th>
                            <th id="totalPT" class="text-center">0.00</th>
                            <th id="totalOther" class="text-center">0.00</th>
                            <th colspan="3"></th>
                            <th id="totalKM" class="text-center">0</th>
                            <th colspan="2"></th>
                        </tr>
                    </tfoot>
                </table>

                <!-- Modal: Send & Export -->
                <div class="modal fade " id="sendModal" tabindex="-1" role="dialog" aria-labelledby="sendModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">

                            <!-- Modal Header -->
                            <div class="modal-header"
                                 style="background: #34ba7c;
                                background: linear-gradient(90deg, rgba(52, 186, 124, 1) 0%, rgba(0, 138, 112, 1) 100%); color: white; border-bottom: none;">
                                <h5 class="modal-title" id="cancelModalLabel">Confirm Send & Export</h5>
                                <!-- Close Button -->
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true" style="color:white">&times;</span>
                                </button>
                            </div>
                            <!-- Modal Body -->
                            <div class="modal-body">
                                <text style="color:#555555">คุณต้องการส่งข้อมูล วันที่ 01/10/2025 - 15/10/2025 ใช่หรือไม่?</text>
                                <label style="color: red; text-align: left; display: block;">
                                    * หลังจากผู้ดูแลอนุมัติแล้ว จะไม่สามารถยกเลิกหรือแก้ไขข้อมูลที่ส่งได้
                                </label>

                            </div>
                            <!-- Footer Button -->
                            <div class="modal-footer">

                                <button type="button" class="btn btn-secondary" style="border-radius:8px; box-shadow: 0 4px 8px rgba(0,0,0,0.1);" data-dismiss="modal">
                                    ปิด
                                </button>
                                <button type="button" id="BtnSendExport" class="btn btn-success" style="border-radius:8px; box-shadow: 0 4px 8px rgba(0,0,0,0.1);">
                                    ยืนยันการส่ง
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal: Cancel Send -->
                <div class="modal fade" id="cancelModal" tabindex="-1" role="dialog" aria-labelledby="cancelModalLabel" aria-hidden="true">
                    <div class="modal-dialog " role="document">
                        <div class="modal-content">
                            <!-- Modal Header -->
                            <div class="modal-header"
                                 style="background: #ff2929;
                                 background: linear-gradient(90deg, rgba(255, 41, 41, 1) 0%, rgba(161, 0, 0, 1) 100%); color: white; border-bottom: none;">
                                <h5 class="modal-title" id="cancelModalLabel">Cancel Send</h5>
                                <!-- Close Button -->
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true" style="color:white">&times;</span>
                                </button>
                            </div>
                            <!-- Modal Body -->
                            <div class="modal-body">
                                <text style="color:red; font-size:18px">คุณแน่ใจหรือไม่ว่าต้องการยกเลิกการส่งข้อมูล <br>วันที่ 01/10/2025 - 15/10/2025 </text>
                            </div>
                            <!-- Footer Button -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" style="border-radius:8px; box-shadow: 0 4px 8px rgba(0,0,0,0.1);" data-dismiss="modal">
                                    ปิด
                                </button>
                                <button type="button" id="BtnCancelSend" class="btn btn-danger" style="border-radius:8px; box-shadow: 0 4px 8px rgba(0,0,0,0.1);">
                                    ยืนยันการยกเลิก
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Table -->
<div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="detailModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <!-- เพิ่ม modal-lg สำหรับขนาดใหญ่ -->
        <div class="modal-content">
            <div class="modal-header" style="background: linear-gradient(90deg, rgba(33, 120, 190, 1) 0%, rgba(40, 71, 95, 1) 100%); color: white; border-bottom: none;">
                <h5 class="modal-title kanit-regular" id="detailModalLabel">แก้ไขข้อมูล (รถบริษัท)</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" style="color: white;">&times;</span>
                </button>
            </div>
            <div class="modal-body kanit-regular" style="color:#444444">
                <form>
                    <div class="form-row ">
                        <fieldset hidden class="col-sm-12 col-md-12">
                            <div class="form-group">
                                <label for="edit_code"></label>
                                <input type="text" class="form-control" id="edit_code">
                            </div>
                        </fieldset>
                    </div>
                    <div class="form-row ">
                        <fieldset disabled class="col-sm-12 col-md-4">
                            <div class="form-group">
                                <label for="edit_date">วันที่</label>
                                <input type="text" class="form-control" id="edit_date">
                            </div>
                        </fieldset>
                        <fieldset class="col-sm-12 col-md-4">
                            <div class="form-group">
                                <label for="edit_select_car">รถบริษัท</label>
                                <select class="form-control" id="edit_select_car" disabled>
                                </select>
                            </div>
                        </fieldset>
                        <fieldset disabled class="col-sm-12 col-md-4">
                            <div class="form-group">
                                <label for="edit_license_plate">ทะเบียนรถ</label>
                                <input type="text" class="form-control" id="edit_license_plate">
                            </div>
                        </fieldset>
                    </div>

                    <!-- ROW 2 : ผู้ขับรถ, Job -->
                    <div class="form-row">
                        <fieldset disabled class="col-sm-12 col-md-6">
                            <div class="form-group">
                                <label for="edit_driver">ผู้ขับรถ</label>
                                <input type="text" class="form-control" id="edit_driver">
                            </div>
                        </fieldset>
                        <div class="form-group col-sm-12 col-md-6">
                            <label for="edit_job">Job</label>
                            <input type="text" class="form-control" id="edit_job">
                        </div>
                    </div>

                    <!-- ROW 3 : เวลาเริ่มต้น, เวลาสิ้นสุด -->
                    <div class="form-row">
                        <div class="form-group col-sm-12 col-md-6">
                            <label for="edit_time_start">เวลาเริ่มต้น</label>
                            <input type="time" class="form-control" id="edit_time_start">
                        </div>
                        <div class="form-group col-sm-12 col-md-6">
                            <label for="edit_time_stop">เวลาสิ้นสุด</label>
                            <input type="time" class="form-control" id="edit_time_stop">
                        </div>
                    </div>

                    <!-- ROW 4 : การเดินทาง, ระยะทาง -->
                    <div class="form-row">
                        <div class="form-group col-sm-12 col-md-8">
                            <label for="edit_location">การเดินทาง</label>
                            <input type="text" class="form-control" id="edit_location">
                        </div>
                        <div class="form-group col-sm-12 col-md-4">
                            <label for="edit_select_province">จังหวัด</label>
                            <select class="form-control" id="edit_select_province">
                            </select>
                        </div>
                    </div>

                    <!-- ROW 5 : เลขไมล์เริ่มต้น, เลขไมล์สิ้นสุด -->
                    <div class="form-row">
                        <div class="form-group col-sm-12 col-md-4">
                            <label for="edit_mileage_start">เลขไมล์เริ่มต้น</label>
                            <input type="number" class="form-control" id="edit_mileage_start">
                        </div>
                        <div class="form-group col-sm-12 col-md-4">
                            <label for="edit_mileage_stop">เลขไมล์สิ้นสุด</label>
                            <input type="number" class="form-control" id="edit_mileage_stop">
                        </div>
                        <div class="form-group col-sm-12 col-md-4">
                            <label for="edit_km">ระยะทาง</label>
                            <div class="input-group">
                                <input type="number" class="form-control" style="text-align:end" id="edit_km" placeholder="0" disabled>
                                <div class="input-group-append">
                                    <span class="input-group-text">กม.</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- ROW 6 : Fleet Card, Cash -->
                    <div class="form-row ">
                        <div class="form-group col-sm-12 col-md-6">
                            <label for="edit_fleet">ค่าน้ำมัน (Fleet Card)</label>
                            <div class="input-group">
                                <input type="number" class="form-control" style="text-align:end" id="edit_fleet" placeholder="0">
                                <div class="input-group-append">
                                    <span class="input-group-text">บาท</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-sm-12 col-md-6">
                            <label for="edit_cash">ค่าน้ำมัน (เงินสด)</label>
                            <div class="input-group">
                                <input type="number" class="form-control" style="text-align:end" id="edit_cash" placeholder="0">
                                <div class="input-group-append">
                                    <span class="input-group-text">บาท</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- ROW 7 : ค่าทางด่วน, ค่าใช้จ่ายอื่นๆ -->
                    <div class="form-row ">
                        <div class="form-group col-sm-12 col-md-6">
                            <label for="edit_pt">ค่าทางด่วน</label>
                            <div class="input-group">
                                <input type="number" class="form-control" style="text-align:end" id="edit_pt" placeholder="0">
                                <div class="input-group-append">
                                    <span class="input-group-text">บาท</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-sm-12 col-md-6">
                            <label for="edit_exp">ค่าใช้จ่ายอื่นๆ</label>
                            <div class="input-group">
                                <input type="number" class="form-control" style="text-align:end" id="edit_exp" placeholder="0">
                                <div class="input-group-append">
                                    <span class="input-group-text">บาท</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row ">
                        <fieldset class="col-sm-12 col-md-12">
                            <div class="form-group">
                                <label for="edit_description">รายละเอียด</label>
                                <textarea class="form-control" id="edit_description" rows="2"></textarea>
                            </div>
                        </fieldset>
                    </div>
                </form>
            </div>
            <!-- Footer Button -->
            <div class="modal-footer kanit-regular">
                <button type="button" id="BtnDelete" class="btn btn-danger col-sm-3 col-md-3" style="border-radius:8px; box-shadow: 0 4px 8px rgba(0,0,0,0.1);">
                    รีเซต
                </button>
                <button type="button" class="btn btn-outline-danger col-sm-3 col-md-2" style="border-radius:8px; box-shadow: 0 4px 8px rgba(0,0,0,0.1);" data-dismiss="modal">
                    ยกเลิก
                </button>
                <button type="button" id="BtnSaveChange" class="btn btn-primary col-sm-3 col-md-3" style="border-radius:8px; box-shadow: 0 4px 8px rgba(0,0,0,0.1);">
                    บันทึก
                </button>
            </div>
        </div>
    </div>
</div>
<partial name="ModalSpin" />
@section Scripts {
    <script type="text/javascript">
        let holidays = [];
        var table_company;
        let cars = [];
        let employees = [];
        let provinces = [];
        $(document).ready(async function () {

            const today = new Date();
            const month = today.toISOString().slice(0, 7);
            $('#month_start').val(month);
            await GetCompanyCar(month);
        });

        $('#select_mode').on('change', async function () {
            const mode = $('#select_mode').val();
            if (mode === "Car") {
                $('#div_car').prop('hidden', false);
                $('#div_driver').prop('hidden', true);

                const month = $('#month_start').val();
                await $.ajax({
                    type: "GET",
                    url: '@Url.Action("GetCars", "CompanyCarUser")',
                    contentType: 'application/x-www-form-urlencoded',
                    data: { month },
                    success: function (response) {
                        const cars = response;
                        GenerateCarOption(cars);
                    }
                });
            } else {
                $('#div_car').prop('hidden', true);
                $('#div_driver').prop('hidden', false);
                const month = $('#month_start').val();
                const emp = @Html.Raw(Json.Serialize(Model));;

                await $.ajax({
                    type: "GET",
                    url: '@Url.Action("GetDrivers", "CompanyCarUser")',
                    contentType: 'application/x-www-form-urlencoded',
                    data: { month },
                    success: function (response) {
                        let drivers = response;
                        if (emp.role !== "Admin") {
                            drivers = drivers.filter(f => f.emp_id == emp.emp_id).map(m => m);
                        }
                        if (drivers.length > 0) {
                            GenerateDriverOption(drivers);
                        } else {
                            alert('ไม่มีข้อมูลในการใช้งาน');
                        }
                    }
                });
            }
        });

        $('#select_drivers,#select_cars').on('change', function () {
            $('#div_search').prop('hidden', false);
        });

        $('#month_start').on('change', async function () {
            const month = $('#month_start').val();
            await GetCompanyCar(month);

            $('#select_drivers').empty();
            $('#select_cars').empty();
        });

        $('#btn_search').on('click', async function () {

            const month = $('#month_start').val();
            const mode = $('#select_mode').val();
            const driver = $('#select_drivers').val();
            const car = $('#select_cars').val();

            LoadCompanyCarTable(month, mode, driver, car);
        });

        async function GetData(month, mode, driver, car) {
            const $modal = $('#SpinModal');
            $modal.modal('show');
            let datas = [];
            try {
                await $.ajax({
                    type: "GET",
                    url: '@Url.Action("GetData", "CompanyCarUser")',
                    contentType: 'application/x-www-form-urlencoded',
                    data: { month, mode, driver, car },
                    success: function (response) {
                        datas = response;
                    }
                });
                return datas;
            }
            finally {
                $modal.modal('hide');
            }
        }
        async function GenerateDriverOption(drivers) {
            $('#select_drivers').empty();
            $('#select_drivers').append(`<option value="" selected disabled>Please Select Driver</option>`);
            for (let i = 0; i < drivers.length; i++) {
                $('#select_drivers').append(`<option value="${drivers[i].emp_id}">${drivers[i].name}</option>`);
            }
        }

        async function GenerateCarOption(cars) {
            $('#select_cars').empty();
            $('#select_cars').append(`<option value="" selected disabled>Please Select Car</option>`);
            for (let i = 0; i < cars.length; i++) {
                $('#select_cars').append(`<option value="${cars[i].car_id}">${cars[i].car_id}</option>`);
            }
        }

        async function GenerateAllCarOption(cars) {
            $('#edit_select_car').empty();
            $('#edit_select_car').append(`<option value="" selected disabled>Please Select Car</option>`);
            for (let i = 0; i < cars.length; i++) {
                $('#edit_select_car').append(`<option value="${cars[i].car_id}">${cars[i].car_id}</option>`);
            }
        }

        async function GenerateProvinceOption(provinces) {
            $('#edit_select_province').empty();
            $('#edit_select_province').append(`<option value="" selected disabled>Please Select Province</option>`);
            for (let i = 0; i < provinces.length; i++) {
                $('#edit_select_province').append(`<option value="${provinces[i].zipcode}">${provinces[i].province}-${provinces[i].zipcode}</option>`);
            }
        }

        async function GetCompanyCar(month) {
            const $modal = $('#SpinModal');
            $modal.modal('show');

            try {
                const response = await $.ajax({
                    type: "GET",
                    url: '@Url.Action("GetDataCompanyCar", "CompanyCarUser")',
                    dataType: "json",
                    data: { month },
                });

                return response;

            } catch (err) {
                return null;

            } finally {
                $modal.modal('hide');
            }
        }

        async function GetCars() {
            try {
                const response = await $.ajax({
                    type: "GET",
                    url: '@Url.Action("GetAllCars", "CompanyCarUser")',
                    dataType: "json",
                    data: {  },
                });

                return response;

            } catch (err) {
                return null;

            }
        }
        async function GetEmployees() {
            try {
                const response = await $.ajax({
                    type: "GET",
                    url: '@Url.Action("GetEmployees", "CompanyCarUser")',
                    dataType: "json",
                    data: {},
                });

                return response;

            } catch (err) {
                return null;

            }
        }

        async function LoadCompanyCarTable(month, mode, driver, car) {

            const data = await GetData(month, mode, driver, car);

            holidays = data.holidays;
            provinces = data.provinces;
            GenerateProvinceOption(provinces);

            const holidayDates = new Set(holidays.map(h => h.date.split('T')[0]));
            table_company = $('#table_company').DataTable({
                destroy: true,
                data: data.data,
                order: [[0, 'asc']],
                paging: false,
                info: false,
                searching: false,
                ordering: false,
                createdRow: function (row, data, dataIndex) {
                    const dateDisplay = data.dateDisplay || data.date;

                    let year, month, day;
                    if (dateDisplay.includes('-')) {
                        [year, month, day] = dateDisplay.split('-').map(Number);
                    } else if (dateDisplay.includes('/')) {
                        [day, month, year] = dateDisplay.split('/').map(Number);
                    } else {
                        console.error('Invalid date format:', dateDisplay);
                        return;
                    }
                    const date = new Date(Date.UTC(year, month - 1, day));
                    const dayOfWeek = date.getUTCDay();
                    const dateKey = date.toISOString().split('T')[0];

                    const isWeekend = (dayOfWeek === 0 || dayOfWeek === 6);
                    const isHoliday = holidayDates.has(dateKey);

                    if (isWeekend || isHoliday) {
                        $(row).addClass('table-secondary bg-opacity-50');
                    }
                },
                drawCallback: function () {
                    mergeDateRows();
                },
                footerCallback: function (row, data, start, end, display) {
                    const api = this.api();

                    const sum = (columnIndex) => {
                        return api.column(columnIndex, { page: 'all' }).data().reduce((a, b) => {
                            return a + (parseFloat(b) || 0);
                        }, 0);
                    };

                    const totalFleet = sum(8);
                    const totalCash = sum(9);
                    const totalPT = sum(10);
                    const totalOther = sum(11);
                    const totalKM = sum(14);

                    $('#totalFleet').html(totalFleet.toLocaleString('th-TH', { minimumFractionDigits: 0 }));
                    $('#totalCash').html(totalCash.toLocaleString('th-TH', { minimumFractionDigits: 0 }));
                    $('#totalPT').html(totalPT.toLocaleString('th-TH', { minimumFractionDigits: 0 }));
                    $('#totalOther').html(totalOther.toLocaleString('th-TH', { minimumFractionDigits: 0 }));
                    $('#totalKM').html(totalKM.toLocaleString('th-TH')).css({
                        'vertical-align': 'middle',
                        'font-size': '20px',
                        'text-align': 'center'
                    });
                },
                columns: [
                    { data: 'dateDisplay', className: 'text-center fw-bold' },
                    { data: 'job', className: 'text-center' },
                    { data: 'province', className: 'text-center' },
                    { data: 'car_id', className: 'text-center' },
                    { data: 'driverName', className: 'text-center' },
                    {
                        data: 'timeStart', className: 'text-center',
                        render: function (data) {
                            return data === "00:00" ? '' : data;
                        }
                    },
                    {
                        data: 'timeStop', className: 'text-center',
                        render: function (data) {
                            return data === "00:00" ? '' : data;
                        }
                    },
                    { data: 'location' },
                    {
                        data: 'fleet',
                        className: 'text-center',
                        render: function (data) {
                            return data || '';
                        }
                    },
                    {
                        data: 'cash',
                        className: 'text-center',
                        render: function (data) {
                            return data || '';
                        }
                    },
                    {
                        data: 'pt',
                        className: 'text-center',
                        render: function (data) {
                            return data || '';
                        }
                    },
                    {
                        data: 'exp',
                        className: 'text-center',
                        render: function (data) {
                            return data || '';
                        }
                    },
                    {
                        data: 'mileage_start',
                        className: 'text-center',
                        render: function (data) {
                            return data || '';
                        }
                    },
                    {
                        data: 'mileage_stop',
                        className: 'text-center',
                        render: function (data) {
                            return data || '';
                        }
                    },
                    {
                        data: 'km',
                        className: 'text-center fw-bold',
                        render: function (data) {
                            return data || '';
                        }
                    },
                    {
                        data: null,
                        className: 'text-center fw-bold',
                        defaultContent: '',
                    },
                    { data: 'description', className: 'text-center' },
                    {
                        data: 'status',
                        className: 'text-center',
                        render: function (data) {
                            const badges = {
                                'Approved': 'bg-success',
                                'Pending': 'bg-info'
                            };
                            const cls = badges[data] || 'bg-secondary';
                            return `<span class="badge ${cls}">${data || ''}</span>`;
                        }
                    }
                ]

            });

            $('#table_company tbody').on('click', 'tr', async function () {

                const rowData = table_company.row(this).data();
                if (rowData.status !== "Approved") {
                    if (!rowData) {
                        const $row = $(this);
                        const prevRowData = table_personal.row($row.prev()).data();
                        if (prevRowData) rowData = prevRowData;
                    }
                    cars = await GetCars();
                    GenerateAllCarOption(cars);

                    if (rowData) {
                        $(this).toggleClass('table-selected');
                        employees = await GetEmployees();
                        let name = employees.filter(f => f.emp_id === rowData.driver).map(m => m.name_en)[0];

                        let code = rowData.code;
                        let car_id = rowData.car_id;
                        const date = rowData.dateDisplay;
                        let driver = name;
                        const job = rowData.job;
                        const time_start = rowData.timeStart;
                        const time_stop = rowData.timeStop;
                        const location = rowData.location;
                        const mileage_start = rowData.mileage_start;
                        const mileage_stop = rowData.mileage_stop;
                        const distance = rowData.km;
                        const fleet = rowData.fleet;
                        const cash = rowData.cash;
                        const exp = rowData.exp;
                        const pt = rowData.pt;
                        const description = rowData.description;

                        const license_plate = cars.filter(f => f.car_id === car_id).map(m => m.license_plate)[0];
                        if (car_id === "" || car_id === null) {
                            $('#edit_select_car').prop('disabled', false);
                            let d = @Html.Raw(Json.Serialize(Model));
                            driver = d.name;
                            code = d.emp_id + "" + formatDateTimeYYYYMMDDHHMMSS();
                        }else{
                            $('#edit_select_car').prop('disabled', true);
                        }


                        $('#edit_code').val(code);
                        $('#edit_date').val(date);
                        $('#edit_driver').val(driver);
                        $('#edit_job').val(job);
                        $('#edit_time_start').val(time_start);
                        $('#edit_time_stop').val(time_stop);
                        $('#edit_location').val(location);
                        $('#edit_mileage_start').val(mileage_start);
                        $('#edit_mileage_stop').val(mileage_stop);
                        $('#edit_km').val(distance);
                        $('#edit_fleet').val(fleet);
                        $('#edit_cash').val(cash);
                        $('#edit_exp').val(exp);
                        $('#edit_pt').val(pt);
                        $('#edit_select_car').val(car_id);
                        $('#edit_license_plate').val(license_plate);
                        $('#edit_description').val(description);
                        $('#edit_select_province').val(rowData.zipcode);
                        $('#detailModal').modal();
                    }
                } else {
                    alert('ข้อมูลถูกตรวจสอบแล้ว ไม่สามารถแก้ไขได้');
                }
            });
            mergeDateRows();
        }

        $('#edit_select_car').on('change', function () {
            const car_id = $('#edit_select_car').val();
            const license_plate = cars.filter(f => f.car_id === car_id).map(m => m.license_plate)[0];
            $('#edit_license_plate').val(license_plate);
        });

        $('#BtnSaveChange').on('click',async function(){
            const car_id = $('#edit_select_car').val();
            const zipcode = $('#edit_select_province').val();
            if (car_id !== null && zipcode !== null){
                    const code = $('#edit_code').val();
                const date = ddMMyyyyToISO($('#edit_date').val());
                    const d = employees.filter(f=>f.name_en.toLowerCase() === $('#edit_driver').val().toLowerCase()).map(m=>m.emp_id)[0];
                    const driver = d;
                    const job =  $('#edit_job').val();
                    const time_start = $('#edit_time_start').val();
                    const time_stop = $('#edit_time_stop').val();
                    const location =$('#edit_location').val();
                    const mileage_start = $('#edit_mileage_start').val();
                    const mileage_stop = $('#edit_mileage_stop').val();
                    const distance = $('#edit_km').val();
                    const fleet =  $('#edit_fleet').val();
                      const cash =  $('#edit_cash').val();
                    const exp =  $('#edit_exp').val();
                    const pt =  $('#edit_pt').val();
                    const description = $('#edit_description').val();
                    const str = JSON.stringify({
                        'code': code,
                        'date':date,
                        'car_id':car_id,
                        'driver':driver,
                        'job': job,
                        'time_start':time_start,
                        'time_stop':time_stop,
                        'location':location,
                        'mileage_start': mileage_start,
                        'mileage_stop':mileage_stop,
                        'km':distance,
                        'fleet':fleet,
                        'cash':cash,
                        'exp':exp,
                        'pt':pt,
                        'description':description,
                    'zipcode': zipcode
                    });

                await $.ajax({
                type: "POST",
                url: '@Url.Action("UpdateData", "CompanyCarUser")',
                contentType: 'application/x-www-form-urlencoded',
                data: { str },
                success: function (response) {
                     if (response === "Success"){
                         const month = $('#month_start').val();
            const mode = $('#select_mode').val();
            const driver = $('#select_drivers').val();
            const car = $('#select_cars').val();
                         LoadCompanyCarTable(month,mode,driver,car);

                      }else{
                          alert(response);
                      }
                }
            });
            $('#detailModal').modal('hide');
            }else{
                alert('ไม่มีรถหรือจังหวัด');
            }
        });

        $('#BtnDelete').on('click',async function(){
            const code = $('#edit_code').val();
            await $.ajax({
                type: "DELETE",
                url: '@Url.Action("DeleteData", "CompanyCarUser")',
                contentType: 'application/x-www-form-urlencoded',
                data: { code },
                success: function (response) {
                     if (response === "Success"){
                          const month = $('#month_start').val();
            const mode = $('#select_mode').val();
            const driver = $('#select_drivers').val();
            const car = $('#select_cars').val();
                         LoadCompanyCarTable(month,mode,driver,car);

                      }else{
                          alert(response);
                      }
                }
            });
            $('#detailModal').modal('hide');
        });

        $('#edit_mileage_start , #edit_mileage_stop').on('change' ,function(){
            const start = parseInt($('#edit_mileage_start').val());
            const stop = parseInt($('#edit_mileage_stop').val());
            const distance = stop - start;
            $('#edit_km').val(distance);
        });

        function ddMMyyyyToISO(dateStr) {
            if (!dateStr || typeof dateStr !== 'string' || !dateStr.includes('/')) {
                return dateStr || '';
            }

            const parts = dateStr.trim().split('/');
            if (parts.length !== 3) return dateStr;

            const [dd, mm, yyyy] = parts.map(p => p.trim());

            // เผื่อเลขเดือน/วันไม่มี 0 นำหน้า
            const paddedDD = dd.padStart(2, '0');
            const paddedMM = mm.padStart(2, '0');

            return `${yyyy}-${paddedMM}-${paddedDD}`;
        }

        function mergeDateRows() {
            const api = table_company;
            if (!api || api.rows().count() === 0) return;

            const dateColIdx = 0;
            const sumKmColIdx = 15;

            let currentGroupDate = null;
            let groupRows = [];
            let groupTotalKm = 0;

            api.rows({ page: 'current' }).nodes().to$().each(function () {
                const $row = $(this);
                const rowData = api.row(this).data();
                if (!rowData) return;

                const thisDate = rowData.dateDisplay;

                if (currentGroupDate !== thisDate) {

                    if (groupRows.length > 0) {
                        applyGroupMerge(groupRows, groupTotalKm, dateColIdx, sumKmColIdx);
                    }
                    currentGroupDate = thisDate;
                    groupRows = [$row];
                    groupTotalKm = rowData.km || 0;
                } else {
                    groupRows.push($row);
                    groupTotalKm += rowData.km || 0;
                }
            });

            if (groupRows.length > 0) {
                applyGroupMerge(groupRows, groupTotalKm, dateColIdx, sumKmColIdx);
            }
        }
        function applyGroupMerge(groupRows, totalKm, dateColIdx, sumKmColIdx) {
            const rowCount = groupRows.length;
            const $firstRow = groupRows[0];

            $firstRow.find('td').eq(dateColIdx)
                .attr('rowspan', rowCount)
                .css({ 'vertical-align': 'middle', 'background-color': '#e3f2fd', 'font-weight': '500' });

            if (totalKm === 0) {
                $firstRow.find('td').eq(sumKmColIdx)
                    .attr('rowspan', rowCount)
                    .html(`<strong style="color:#d84315; font-size:1em;"></strong>`)
                    .css({
                        'vertical-align': 'middle',
                        'background-color': '#ffffff',
                        'text-align': 'center'
                    });
            } else {
                $firstRow.find('td').eq(sumKmColIdx)
                    .attr('rowspan', rowCount)
                    .html(`<strong style="color:#d84315; font-size:1em;">${totalKm.toLocaleString('th-TH')}</strong>`)
                    .css({
                        'vertical-align': 'middle',
                        'background-color': '#ffffff',
                        'text-align': 'center',
                        'font-weight': '500'
                    });
            }

            if (rowCount > 1) {
                for (let i = 1; i < groupRows.length; i++) {
                    groupRows[i].find('td').eq(dateColIdx).remove();
                    groupRows[i].find('td').eq(sumKmColIdx).remove();
                }
            }
        }

        function formatDateTimeYYYYMMDDHHMMSS(date = new Date()) {
            const pad = (n) => String(n).padStart(2, '0');

            return (
                date.getFullYear() +
                pad(date.getMonth() + 1) +
                pad(date.getDate()) +
                pad(date.getHours()) +
                pad(date.getMinutes()) +
                pad(date.getSeconds())
            );
        }

        $('#btn_export').on('click', function () {
            const mode = $('#select_mode').val();
            const month = $('#month_start').val();
            const driver = $('#select_drivers').val();
            const car = $('#select_cars').val();
            location.href = '@Url.Action("Export", "CompanyCarUser")?month=' + month + '&mode=' + mode + '&driver=' + driver + '&car=' + car;
        });
    </script>
}